html
  head
    script.
      window.onload = function () {
        var oBtn = document.getElementById("btn1");
        oBtn.onclick = function () {
          alert('嗯嗯额');
        };
      }
    script
      include a.js
  body
    |abc
    |xxx
    -var a=10;
    -var b=13;
    -for(var i=0; i<arr1.length; i++)
      div=arr1[i]

    -var a=15;
    case a
      when 13
        div aaa
      when 14
        div bbb
      default
        |都不是啊!!

    div
      span=qq

    div!=content
    div 结果是: #{a+b}
    div 我的qq是: #{qq}
    div(style=json)
    div(class=arr)
    div(class=arr class="index")
